{% extends 'base.html' %}

{% block title%}Homepage{% endblock %}

{% block main%}
<h1>Authentication system</h1>
{% if user.is_authenticated %}
<h2>Welcome, <strong>{{user.first_name}}</strong></h2>
<button type="submit" class="btn" onclick="location.href = 'logout/'" >Logout</button>
{% for people in NewUser %}
<h4>{{people.user_name}}</h4>
{% endfor %}
<h4>{{users.first_name}}</h4>
{% else %}
<h2>Welcome user, please log in!</h2>
<button type="submit" class="btn" onclick="location.href = 'signup/'" >Signup</button>
<button type="submit" class="btn" onclick="location.href = 'login/'">Login</button>
{% endif %}
<style>
.btn{
padding:10px 50px;
margin: 5px;
font-size:20px
}
table,th,td {
  border:1px solid black;
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{% endblock %}