{% extends 'base.html' %}

{% block title%}Homepage{% endblock %}

{% block main%}
{% if user.is_authenticated %}
<h2>Welcome, <strong>{{user.first_name}}</strong></h2>
{% for people in NewUser %}
<h4>{{people.user_name}}</h4>
{% endfor %}
{% else %}
<h2><strong>Welcome user, please log in!</strong></h2>
<button type="submit" onclick="location.href = 'signup/'" >Signup</button>
<button type="submit" onclick="location.href = 'login/'">Login</button>
{% endif %}
<h4><strong>Total users registered: {{count}}</strong></h4><br>
<style>
table,th,td {
  border:1px solid black;
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<table>
    <tr>
      <th><strong>#</strong></th>
      <th><strong>User ID</strong></th>
      <th><strong>First Name</strong></th>
      <th><strong>Last Name</strong></th>
      <th><strong>E-mail</strong></th>
      <th><strong>User Name</strong></th>
      <th><strong>About</strong></th>
      <th><strong>Age</strong></th>
      <th><strong>Birth Date</strong></th>

    </tr>
    {% for user in total|dictsort:"id"  %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{user.id}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.user_name}}</td>
        <td>{{user.about}}</td>
        <td>{{user.age}}</td>
        <td>{{user.birth_date}}</td>
  </tr>
    {% endfor %}
</table>
{% endblock %}