{% extends 'base.html' %}

{% block title%}Password reset{% endblock %}

{% block main%}
<style>
.btn, .input{
padding:10px 50px;
margin: 5px;
font-size:20px
</style>
<h1>Forgot your password?</h1><br>
  <h4 >Enter your email address below: </h4>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
<!--    <input type="text" name="email" class="input" placeholder="Email"><br>-->
<!--    <button type="submit" class="btn">Send me instructions</button>-->
        <input type="submit" value="Send me instructions!">

  </form>
{% endblock %}